@charset "utf-8";

@media (min-width: 1024px){
	
	/* 4.) SECTION LAYOUT */
	.sct {
		grid-area: section;
		display: grid;
		grid-template-rows: 1fr auto;
	}

	.box {
		grid-row: 1;

		display: flex;
		flex-direction: row;
		gap: 1%;
		margin-bottom: 1%;
	}

	/* 4.1) Main Layout */
	.main {
		width: auto;
	}

	.all_posts {
		margin: 5% 70% 5% 5px !important;
	}

	/* 4.2) Sidebar Layout */
	.sidebar {
		width: 50%;
	}

	/* 4.2.1) Subscribe Layout */
	.subscribe_box {
		margin: 10% 7% 10% 7% !important;
	}

	.subscribe_email {
		padding-top: 15%;
		padding-bottom: 8%;
	}

	/* 4.2.2) Insta Layout */
	.insta_title {
		margin-top: 20% !important;
	}

	.insta_imgs {
		grid-template-rows: 150px 150px 150px !important;
	}

	.instagram_icon_div {
		margin-top: 8% !important;
		margin-bottom: 15% !important;
	}

	/* 4.3) Contact Layout */
	.contact {
		grid-row: 2;
		height: 100%;
	}

	.contact_title {
		margin: 3% 0 5% 0 !important;
	}

	.contact_grid {
		margin: 0 12% 3% 12% !important;
	}

	.grid_line {
		margin-top: 10% !important;
	}

	.submit_button {
		margin: 2% 40% 5% 40% !important;
	}
	
}