@charset "utf-8";
@import url("style_computer.css");

.container {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: 
		"hd"
		"navbar"
		"section"
		"footer";
}

.primary_header {
	grid-area: header;
	border: 1px solid black;
}

.secondary_header {
	grid-area: navbar;
	border: 1px solid black;
}

section {
	grid-area: section;
	
	display: grid;
	grid-gap: 0.5em;
	grid-template-rows: 1fr auto auto;
	grid-template-areas: 
		"main"
		"sidebar"
		"contact"
}

.main {
	grid-area: main;
	border: 1px solid black;
}

.sidebar {
	grid-area: sidebar;
	border: 1px solid black;
}

.contact {
	grid-area: contact;
	border: 1px solid black;
}

footer {
	grid-area: footer;
	border: 1px solid black;
}






